@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(./images/tim-mossholder-07uiqD9LS6U-unsplash.jpg);
  background-size: cover;
}

.content-container {
  max-width: 500px;
}

#logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 25vw;
  height: 35vh;
}

.heading {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 550;
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  margin: 3% 0% 5% 0%;
}

.text {
  text-align: center;
  padding: 1%;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input {
  margin: 0 auto;
  margin-bottom: 4%;
  width: 100%;
  height: 20%;
  padding: 15px;
  border: 1px solid #cbd5e0;
  border-radius: 5px;
  color: #018567;
}

.submit {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5%;
  width: 100%;
  height: 10%;
  padding: 15px;
  background-color: #018567;
  border: 1px solid #018567;
  border-radius: 5px;
  color: #edf6f4;
  font-size: 1rem;
  font-weight: 600;
}

.loginText:hover {
  color: #018567;
}

.loginText {
  font-weight: 500;
  color: white;
}
